<div class="container3">
  <div class="project1">
    <div class="image-project image-project1"></div>
    <p class="name-project">Portfolio</p>
    <p class="ctx3">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Nobis animi, vitae obcaecati doloremque.
    </p>
    <button>Saber mais</button>
  </div>

  <div class="project1">
    <div class="image-project image-project2"></div>
    <p class="name-project">Software of a Hospital</p>
    <p class="ctx3">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Nobis animi, vitae obcaecati doloremque.
    </p>
    <button>Saber mais</button>
  </div>

  <div class="project1">
    <div class="image-project image-project3"></div>
    <p class="name-project">Rap Battle App</p>
    <p class="ctx3">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Nobis animi, vitae obcaecati doloremque.
    </p>
    <button>Saber mais</button>
  </div>

  <div class="project1">
    <div class="image-project image-project4"></div>
    <p class="name-project">Mikanda App</p>
    <p class="ctx3">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Nobis animi, vitae obcaecati doloremque.
    </p>
    <button>Saber mais</button>
  </div>

  <div class="project1">
    <div class="image-project image-project5"></div>
    <p class="name-project">Plataform of Low Code</p>
    <p class="ctx3">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Nobis animi, vitae obcaecati doloremque.
    </p>
    <button>Saber mais</button>
  </div>

  <div class="project1">
    <div class="image-project image-project6"></div>
    <p class="name-project">Api Portal</p>
    <p class="ctx3">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Nobis animi, vitae obcaecati doloremque.
    </p>
    <button>Saber mais</button>
  </div>
</div>
