<div class="container3">
  <div class="project1">
    <div class="image-project image-project1"></div>
    <p class="name-project">App mobile of Fitness</p>
    <p class="ctx3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quam
      consequatur quae temporibus! Fugiat quisquam quas fuga.
    </p>
    <button>Saber mais</button>
  </div>

  <div class="project1">
    <div class="image-project image-project2"></div>
    <p class="name-project">App Kilapay</p>
    <p class="ctx3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quaerat ipsam similique recusandae suscipit voluptatum.
    </p>
    <button>Saber mais</button>
  </div>

  <div class="project1">
    <div class="image-project image-project3"></div>
    <p class="name-project">App Bukonde</p>
    <p class="ctx3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolores
      excepturi distinctio libero provident.
    </p>
    <button>Saber mais</button>
  </div>
</div>
