section {
  width: 100%;
  padding: 45px 120px;
}

.image-back {
  width: 100%;
  height: 650px;
  background-image: url(/assets/images/image-bacj«k.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.image-back::before {
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.566);
}

header {
  display: flex;
  justify-content: space-between;
}

.title1 {
  font-size: 20px;
  color: white;
}

.subtitle1 {
  font-size: 14px;
  color: #cbcbcb;
  background: none;
}

ul {
  display: flex;
  align-items: center;
  gap: 48px;
  color: white;
}

ul li {
  font-size: 15px;
  list-style-type: none;
  cursor: pointer;
  transition: .2s;
}

ul li:hover {
  /* color: #39468a; */
  color: #ffa023;
}

main {
  margin-top: 70px;
  margin-bottom: 80px;
}

h1 {
  width: 400px;
  color: white;
  font-size: 40px;
}

.ctx {
  width: 600px;
  color: #cbcbcb;
  margin-top: 10px;
  font-size: 15px;
  line-height: 27px;
}

.btn-work {
  width: 160px;
  height: 50px;
  background: #ffa023;
  color: rgb(31, 31, 31);
  font-size: 15px;
  outline: none;
  border: none;
  margin-top: 16px;
  cursor: pointer;
  transition: .3s;
  animation: move 4s infinite linear;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.btn-work:hover {
  box-shadow: 0 0 14px #ffa023;
}

.block-about-me {
  width: 100%;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .block-about-me {
  animation: fade-in linear;
  animation-timeline: view();
} */

h2 {
  color: white;
}

.ctx-about {
  width: 75%;
  margin-top: 16px;
  color: #dddddd;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.block-what-do {
  width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.block-what-do .container2 {
  width: 100%;
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-top: 20px;
}

/* .block-what-do {
  animation: fade-in linear;
  animation-timeline: view();
} */

@keyframes fade-in {
  from {scale: .8; opacity: 0;}
  to { scale: 1; opacity: 1;}
}

.card {
  width: 400px;
  padding: 20px 20px 10px;
  transition: .3s;
  background: rgba(255, 160, 35, 0.1);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.card h3 {
  color: white;
}

.card p {
  font-size: 14px;
  color: #dddddd;
}

.see-more {
  color: #ffa023;
  font-size: 14px;
}

.block-techn {
  width: 100%;
  background: #131313;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.techn {
  position: relative;
}

.logo {
  width: 100px;
}

.ctx-techn {
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  background: #212121;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.24);
  position: absolute;
}

.ctx-techn-title {
  color: white;
  font-size: 16px;
}

.ctx-techn-content {
  font-size: 14px;
  color: #808080;
  margin-top: 4px;
}

.level {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: #808080;
  position: relative;
  margin-top: 10px;
}

.level::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background: #ffa023;
  border-radius: 1px;
  left: 0;
  z-index: 1;
}

.ctx-techn span {
  color: #808080;
  font-size: 14px;
  margin-top: 4px;
  display: inline-block;
}

.block-projects {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.container3 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 80px;
}

.project1 {
  width: 330px;
}

.image-project {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-project1 {
  background-image: url(/assets/images/image-project.png);
}

.image-project2 {
  background-image: url(/assets/images/hosptal.png);
}

.image-project3 {
  background-image: url(/assets/images/rrpl.png);
}

.image-project4 {
  background-image: url(/assets/images/media-social.png);
}

.image-project5 {
  background-image: url(/assets/images/newsletter.png);
}

.image-project6 {
  background-image: url(/assets/images/api-portal.png);
}

.name-project {
  color: white;
  margin-top: 8px;
}

.ctx3 {
  color: #cbcbcb;
  margin-top: 4px;
  font-size: 14px;
}

.container3 button {
  width: 110px;
  height: 45px;
  background: none;
  color: #ffa023;
  font-size: 14px;
  outline: none;
  border: 1px solid #ffa023;
  margin-top: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 1s;
}

.container3 button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  transition: 1s;
  z-index: -1;
  border-radius: 0 0 10px 10px;
}

.container3 button:hover::before {
  height: 180%;
  background: #ffa023;
}

.container3 button:hover {
  color: white;
}


footer {
  width: 100%;
  position: absolute;
  left: 0;
  background: #131313;
  display: flex;
  justify-content: space-between;
  padding: 40px 120px;
}

.block-left, .block-right {
  width: 48%;
}

.mes {
  margin-top: 8px;
  width: 400px;
  color: #808080;
  font-size: 14px;
}

.list-send-message {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 24px;
}

.item-send-message {
  display: flex;
  gap: 8px;
  align-items: center;
}

.item-send-message img {
  width: 50px;
}

.texts p {
  font-size: 14px;
  color: #808080;
}

.texts a {
  color: #ffa023;
  text-decoration: none;
  font-size: 14px;
}

.list2 {
  margin-top: 48px;
}

.input-contact {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.input-contact input {
  width: 300px;
  height: 50px;
  border: 1px solid #808080;
  background: rgb(128, 128, 128, 0.1);
  outline: none;
  padding-left: 16px;
  border-radius: 25px;
  color: white;
}

.input-contact input:focus {
  border-color: #ffa023;
}

.input-contact button {
  width: 120px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: #ffa023;
  color: #131313;
  transition: .3s;
  cursor: pointer;
}

.input-contact button:hover {
  background: #ff960c;
}

.media-social {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.media-social img {
  width: 50px;
  padding: 12px;
  border-radius: 25px;
  background: rgba(255, 160, 35, 0.1);
  transition: .3s;
  cursor: pointer;
}

.text-footer {
  color: #808080;
  font-size: 14px;
  margin-top: 16px;
  margin-left: 180px;
}
