section {
  width: 100%;
  padding: 45px 120px;
}

.image-back {
  width: 100%;
  height: 650px;
  background-image: url(/assets/images/image-bacj«k.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.image-back::before {
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.566);
}

header {
  display: flex;
  justify-content: space-between;
}

.title1 {
  font-size: 20px;
  color: white;
}

.subtitle1 {
  font-size: 14px;
  color: #cbcbcb;
  background: none;
}

ul {
  display: flex;
  align-items: center;
  gap: 48px;
  color: white;
}

ul li {
  font-size: 15px;
  list-style-type: none;
  cursor: pointer;
  transition: .2s;
}

ul li:hover {
  /* color: #39468a; */
  color: #ffa023;
}

.element-father {
  width: 100%;
  height: 30px;
  margin-top: 48px;
}

.text-animated {
  overflow: hidden;
  white-space: nowrap;
  color: #cbcbcb;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

@keyframes escrever {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes apagar {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

main {
  margin-top: 40px;
  margin-bottom: 80px;
}

h1 {
  width: 400px;
  color: white;
  font-size: 40px;
}

.ctx {
  width: 600px;
  color: #cbcbcb;
  margin-top: 10px;
  font-size: 15px;
  line-height: 27px;
}

.btn-work {
  width: 160px;
  height: 50px;
  background: #ffa023;
  color: rgb(31, 31, 31);
  font-size: 15px;
  outline: none;
  border: none;
  margin-top: 16px;
  cursor: pointer;
  transition: .3s;
  animation: move 4s infinite linear;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.btn-work:hover {
  box-shadow: 0 0 14px #ffa023;
}

.block-about-me {
  width: 100%;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: white;
}

.ctx-about {
  width: 75%;
  margin-top: 16px;
  color: #dddddd;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.block-what-do {
  width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.block-what-do .container2 {
  width: 100%;
  display: flex;
  gap: 48px;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card {
  width: 370px;
  padding: 15px;
  transition: .3s;
  /* background: rgba(255, 160, 35, 0.1); */
  background: #212121;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card:hover {
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.4);
}

.card h3 {
  color: white;
}

.card p {
  font-size: 14px;
  color: #dddddd;
}

.see-more {
  color: #ffa023;
  font-size: 14px;
  cursor: pointer;
}

.block-techn {
  width: 100%;
  background: #131313;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.techn {
  position: relative;
}

.logo {
  width: 80px;
}

.ctx-techn {
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  background: #212121;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.4);
  position: absolute;
  left: -100px;
}

.ctx-techn-title {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.ctx-techn-content {
  font-size: 14px;
  color: #cbcbcb;
  margin-top: 4px;
}

.level {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #808080;
  position: relative;
  margin-top: 10px;
}

.level::before {
  content: '';
  position: absolute;
  height: 100%;
  border-radius: 2px;
  left: 0;
  z-index: 1;
}

.level1::before {
  width: 40%;
  background: #f13636;
}

.level2::before {
  width: 90%;
  background: #237fff;
}

.level3::before {
  width: 85%;
  background: #ff7f23;
}

.level4::before {
  width: 55%;
  background: #ffe25f;
}

.level5::before {
  width: 40%;
  background: linear-gradient(90deg, #5382A1, #F8981D) ;
}

.level6::before {
  width: 47%;
  background: #1d62f8;
}

.level7::before {
  width: 75%;
  background: #ff71bd;
}

.level8::before {
  width: 60%;
  background: linear-gradient(90deg, #F8981D, #f13636, #d744ff, #5686ff, #5bd85d);
}

.level9::before {
  width: 49%;
  background: #316BFF;
}

.ctx-techn span {
  color: #cbcbcb;
  font-size: 14px;
  margin-top: 4px;
  display: inline-block;
}

.block-projects {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-components-works {
  display: flex;
  gap: 24px;
  align-items: center;
  margin: 48px 0;
}

.texts-link {
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 15px;
  background: rgb(128, 128, 128, 0.15);
  border-radius: 3px;
}

.active-link {
  color: #ffa023;
  background: none;
  border-bottom: 3px solid #ffa023;
  border-radius: 0;
}

footer {
  width: 100%;
  position: absolute;
  left: 0;
  background: #131313;
  display: flex;
  justify-content: space-between;
  padding: 40px 120px;
}

.block-left, .block-right {
  width: 48%;
}

.mes {
  margin-top: 8px;
  width: 400px;
  color: #808080;
  font-size: 14px;
}

.list-send-message {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 24px;
}

.item-send-message {
  display: flex;
  gap: 8px;
  align-items: center;
}

.item-send-message img {
  width: 50px;
}

.texts p {
  font-size: 14px;
  color: #808080;
}

.texts a {
  color: #ffa023;
  text-decoration: none;
  font-size: 14px;
}

.list2 {
  margin-top: 48px;
}

.input-contact {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.input-contact input {
  width: 300px;
  height: 50px;
  border: 1px solid #808080;
  background: rgb(128, 128, 128, 0.1);
  outline: none;
  padding-left: 16px;
  border-radius: 25px;
  color: white;
}

.input-contact input:focus {
  border-color: #ffa023;
}

.input-contact button {
  width: 120px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: #ffa023;
  color: #131313;
  transition: .3s;
  cursor: pointer;
}

.input-contact button:hover {
  background: #ff960c;
}

.media-social {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.media-social img {
  width: 50px;
  padding: 12px;
  border-radius: 25px;
  background: rgba(255, 160, 35, 0.1);
  transition: .3s;
  cursor: pointer;
}

.media-social img:hover {
  transform: translateY(-10px);
}

.text-footer {
  color: #808080;
  font-size: 14px;
  margin-top: 16px;
  margin-left: 180px;
}
