<section>
  <div class="image-back"></div>

  <header>
    <div>
      <p class="title1">PORTFÓLIO </p>
      <p class="subtitle1">Fidel Elias Fernando</p>
    </div>


    <ul>
      <li>Home</li>
      <li>About me</li>
      <li>Services</li>
      <li>Projects</li>
      <li>Contacts</li>
    </ul>
  </header>

  <main>
    <h1>I'M PROGRAMMER FRONT-END</h1>

    <p class="ctx">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Deserunt labore ad accusamus aliquid ullam illum corporis
      recusandae dicta natus, fugit reiciendis, velit perspiciatis
      eveniet ex possimus quidem qui ipsa impedit!
    </p>

    <button class="btn-work">Solicitar serviço</button>

    <div class="block-about-me">
      <h2>ABOUT ME</h2>

      <div class="ctx-about">
          Ut vitae tellus aliquet, convallis urna id, mattis odio. Proin viverra nibh sem,
          eu tincidunt sapien facilisis quis. Nullam tortor arcu, mollis ac augue efficitur,
          tincidunt cursus nisi. Maecenas vehicula molestie ipsum eget aliquam. In consequat
          vel dui ac vulputate. Phasellus scelerisque eu urna vitae sollicitudin. Mauris
          augue tellus, ullamcorper et pulvinar at, viverra fermentum velit. Aenean rhoncus
          orci felis, vitae egestas lorem gravida at. Suspendisse eu diam arcu. Etiam pulvinar
          elit et ipsum molestie, at lobortis dolor tempor. Phasellus erat erat, hendrerit ut
          vestibulum vitae, venenatis rutrum nunc. Etiam et nunc in justo porttitor tincidunt
          efficitur eget leo. Aliquam a laoreet lorem. Etiam congue felis tincidunt, molestie
          lacus porta, suscipit nisi. Proin ut aliquet ex. Aenean felis tellus, gravida ut
          finibus vel, commodo eu lectus.
      </div>
    </div>

    <div class="block-what-do">
      <h2>WHAT I DO</h2>

      <div class="container2">
        <div class="card">
          <h3>FRONT-END DEVELOPER</h3>

          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
            sed laudantium iure voluptate commodi rem, quo vero deleniti iste
            repellendus quam consectetur maiores! Maxime, inventore illo tempora
            aliquid deleniti placeat!
          </p>

          <a class="see-more" [routerLink]="''">Ver mais</a>
        </div>

        <div class="card">
          <h3>UI/UX DESIGN</h3>

          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Cum nihil, nesciunt rem reiciendis quidem dolorem? Sit qui
            aperiam repudiandae maxime ipsa fugit quidem error sapiente illo
            maiores quas, libero natus.
          </p>

          <a class="see-more" [routerLink]="''">Ver mais</a>
        </div>
      </div>
    </div>

    <div class="block-techn">
      <img class="logo" src="/assets/icons/logo-angular.png" alt="">
      <img class="logo" src="/assets/icons/logo-css.png" alt="">
      <img class="logo" src="/assets/icons/logo-html.png" alt="">
      <img class="logo" src="/assets/icons/logo-javascript.png" alt="">
      <img class="logo" src="/assets/icons/logo-java.png" alt="">
      <img class="logo" src="/assets/icons/logo-typescript.svg" alt="">
      <img src="/assets/icons/logo-sass.png" alt="" class="logo">
    </div>

    <div class="block-projects">
      <h2>MY WORKS</h2>

      <div class="container3">
        <div class="project1">
          <div class="image-project image-project1"></div>
          <p class="name-project">API Portal</p>
          <p class="ctx3">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Nobis animi, vitae obcaecati doloremque.
          </p>
          <button>Saber mais</button>
        </div>

        <div class="project1">
          <div class="image-project image-project2"></div>
          <p class="name-project">Software of a Hospital</p>
          <p class="ctx3">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Nobis animi, vitae obcaecati doloremque.
          </p>
          <button>Saber mais</button>
        </div>

        <div class="project1">
          <div class="image-project image-project3"></div>
          <p class="name-project">API Portal</p>
          <p class="ctx3">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Nobis animi, vitae obcaecati doloremque.
          </p>
          <button>Saber mais</button>
        </div>
      </div>
    </div>
  </main>

  <footer></footer>
</section>
