<div class="container3">
  <div class="project1">
    <div class="image-project image-project1"></div>
    <p class="name-project">Rede social UI/UX design</p>
    <p class="ctx3">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Nobis animi, vitae obcaecati doloremque.
    </p>
    <button>Saber mais</button>
  </div>

  <div class="project1">
    <div class="image-project image-project2"></div>
    <p class="name-project">UI/UX Foruns</p>
    <p class="ctx3">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Nobis animi, vitae obcaecati doloremque.
    </p>
    <button>Saber mais</button>
  </div>

  <div class="project1">
    <div class="image-project image-project3"></div>
    <p class="name-project">Clothing store design</p>
    <p class="ctx3">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Nobis animi, vitae obcaecati doloremque.
    </p>
    <button>Saber mais</button>
  </div>
</div>
